<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>This Is A Header</h1>
        @RenderBody()
        <h1>This Is A Footer</h1>
    </div>
</body>
</html>
