<section id="cart">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 head-text">
                <h4>Your Cart</h4>
                <p>
                    <span>There are <span class="countt">0</span> products in your cart</span>
                    <a href="~/" class="clear-basket"><i class="fa-solid fa-trash-can"></i>Clear Cart</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-12 cart-left">
                <table class="cart-table">
                    <thead class="cart-head">
                        <tr>
                            <th class="custome-checkbox">
                                <input type="checkbox" name="" id="" value="">
                            </th>
                            <th scope="col" style="text-align: left;" colspan="2">Product</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col" class="end">Remove</th>
                        </tr>
                    </thead>
                    <tbody class="cart-body">
                    </tbody>
                </table>
                <hr style="margin-top: 50px;">
                <div class="update-btn">
                    <a href="~/shop.html" class="shop"><i class="fa-solid fa-left-long"></i>Continue shopping</a>
                    <button class="update"><i class="fa-solid fa-arrows-rotate"></i>Update cart</button>
                </div>
                <div class="row form-input">
                    <div class="col-lg-7 form-shipping">
                        <h4>Calculate Shipping</h4>
                        <p>Flat rate: <span>5%</span></p>
                        <form action="" class="myform">
                            <button class="search-slc-btn" type="button" onclick="openCloseDpC()"><span class="whichCat">All Categories</span> <i class="fa-solid fa-angle-down"></i></button>
                            <div class="selectInp">
                                <input type="text" class="drp-inp2" onkeyup="filterFunctionC();">
                                <div class="select-option">
                                    <a href="~/#" class="dropdown-item checkedDp">All Categories</a>
                                    <a href="~/#" class="dropdown-item">Milks and Dairies</a>
                                    <a href="~/#" class="dropdown-item">Wines &amp; Alcohol</a>
                                    <a href="~/#" class="dropdown-item">Clothing &amp; Beauty</a>
                                    <a href="~/#" class="dropdown-item">Pet Foods &amp; Toy</a>
                                    <a href="~/#" class="dropdown-item">Fast food</a>
                                    <a href="~/#" class="dropdown-item">Baking material</a>
                                    <a href="~/#" class="dropdown-item">Vegetables</a>
                                    <a href="~/#" class="dropdown-item">Fresh Seafood</a>
                                    <a href="~/#" class="dropdown-item">Noodles &amp; Rice</a>
                                    <a href="~/#" class="dropdown-item">Ice cream</a>
                                </div>
                            </div>
                        </form>
                        <div class="inputs">
                            <input type="text" placeholder="State / Country">
                            <input type="text" placeholder="PostCode / ZIP">
                        </div>
                    </div>
                    <div class="col-lg-5 form-coupon">
                        <h4>Apply Coupon</h4>
                        <p>Using A Promo Code?</p>
                        <form action="">
                            <input type="text" placeholder="Enter Your Coupon">
                            <a href="~/#"><i class="fa-solid fa-tags"></i>Apply</a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12 cart-right">
                <div class="table-responsive">
                    <table class="table no-border">
                        <tbody>
                            <tr>
                                <td>
                                    <h6>Subtotal</h6>
                                </td>
                                <td class="text-right">
                                    <h4>$12.31</h4>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col" colspan="2">
                                    <hr>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>Shipping</h6>
                                </td>
                                <td class="text-right">
                                    <h5>Free </h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>Estimate for</h6>
                                </td>
                                <td class="text-right">
                                    <h5>United Kingdom </h5>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col" colspan="2">
                                    <hr>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>Total</h6>
                                </td>
                                <td class="text-right">
                                    <h4>$ <span class="total-price-s">12.31</span></h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="~/#">Proceed To CheckOut<i class="fa-solid fa-door-open"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="need">
    <div class="container-fluid">
        <div class="row need">
            <div class="box">
                <div class="text">
                    <h2 class="mb-20">
                        Stay home &amp; get your daily <br>
                        needs from our shop
                    </h2>
                    <p class="mb-45">Start You'r Daily Shopping with <span class="text-brand">Nest Mart</span></p>
                    <form class="myform" action="">
                        <input type="email" placeholder="Your emaill address">
                        <button class="btn" type="submit">Subscribe</button>
                    </form>
                </div>
                <img src="~/images/shop/banner-9.png" alt="">
            </div>
        </div>
        <div class="row featured">
            <div class="col-lg-1-5">
                <div class="box">
                    <div class="left">
                        <img src="~/images/about/provide/icon-1.svg" alt="">
                    </div>
                    <div class="right">
                        <h5>Best prices & offers</h5>
                        <span>Orders $50 or more</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5">
                <div class="box">
                    <div class="left">
                        <img src="~/images/about/provide/icon-2.svg" alt="">
                    </div>
                    <div class="right">
                        <h5>Free delivery</h5>
                        <span>24/7 amazing services</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5">
                <div class="box">
                    <div class="left">
                        <img src="~/images/about/provide/icon-3.svg" alt="">
                    </div>
                    <div class="right">
                        <h5>Great daily deal</h5>
                        <span>When you sign up</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5">
                <div class="box">
                    <div class="left">
                        <img src="~/images/about/provide/icon-4.svg" alt="">
                    </div>
                    <div class="right">
                        <h5>Wide assortment</h5>
                        <span>Mega Discounts</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5">
                <div class="box">
                    <div class="left">
                        <img src="~/images/about/provide/icon-5.svg" alt="">
                    </div>
                    <div class="right">
                        <h5>Easy returns</h5>
                        <span>Within 30 days</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 last-featured">
                <div class="box">
                    <div class="left">
                        <img src="~/images/about/provide/icon-6.svg" alt="">
                    </div>
                    <div class="right">
                        <h5>Safe Delivery</h5>
                        <span>Within 30 days</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>