<section id="snack">
    <div class="container-fluid">
        <div class="row snack align-items-center">
            <div class="col-lg-3 left">
                <h1>Snack</h1>
                <div class="breadcrumb">
                    <a href="~/home.html" class="crumb">
                        <i class="fa-solid fa-house-chimney-user"></i>Home <i class="fa-solid fa-angle-right right"></i>
                    </a>
                    <span class="crumb">Shop <i class="fa-solid fa-angle-right right"></i></span>
                    <span class="crumb">Snack <i class="fa-solid fa-angle-right right"></i></span>
                </div>
            </div>
            <div class="col-lg-9 right">
                <ul class="list">
                    <li class="hover-up">
                        <a href="~/#"><i class="fa-solid fa-xmark"></i>Cabbage</a>
                    </li>
                    <li class="hover-up active">
                        <a href="~/#"><i class="fa-solid fa-xmark"></i>Broccoli</a>
                    </li>
                    <li class="hover-up">
                        <a href="~/#"><i class="fa-solid fa-xmark"></i>Artichoke</a>
                    </li>
                    <li class="hover-up">
                        <a href="~/#"><i class="fa-solid fa-xmark"></i>Celery</a>
                    </li>
                    <li class="hover-up">
                        <a href="~/#"><i class="fa-solid fa-xmark"></i>Spinach</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="trending" class="shop-trending">
    <div class="container-fluid">
        <div class="row filter">
            <div class="col-lg-6 total-count">
                <p>We found <strong class="text-brand">29</strong> items for you!</p>
            </div>
            <div class="col-lg-6 sort-product">
                <div class="sort">
                    <div class="sort-by">
                        <span>
                            <i class="fa-solid fa-border-all"></i>
                            Show: 50
                            <i class="fa-solid fa-angle-down"></i>
                        </span>
                    </div>
                    <ul class="sort-list">
                        <li><a class="active" href="~/#"><i class="fa-solid fa-check check"></i>50</a></li>
                        <li><a href="~/#">100</a></li>
                        <li><a href="~/#">150</a></li>
                        <li><a href="~/#">200</a></li>
                        <li><a href="~/#">All</a></li>
                    </ul>
                </div>
                <div class="sort">
                    <div class="sort-by">
                        <span>
                            <i class="fa-solid fa-arrow-down-wide-short"></i>
                            Sort by:Featured
                            <i class="fa-solid fa-angle-down"></i>
                        </span>
                    </div>
                    <ul class="sort-list">
                        <li><a class="active" href="~/#"><i class="fa-solid fa-check check"></i>Featured</a></li>
                        <li><a href="~/#">Price: Low to High</a></li>
                        <li><a href="~/#">Price: High to Low</a></li>
                        <li><a href="~/#">Release Date</a></li>
                        <li><a href="~/#">Avg. Rating</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row trending">
            <div class="col-lg-1-5 trend-box">
                <div data-id="1" class="box">
                    <span class="spn hot">Hot</span>
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <img src="~/images/trending/product-1-1.jpg" class="first" alt="">
                        <img src="~/images/trending/product-1-2.jpg" class="second" alt="">
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Snack</a>
                            <a href="~/#" class="name">Seeds of Change Organic Quinoe Naturel</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">28.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="2" class="box">
                    <span class="spn sale">Sale</span>
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <img src="~/images/trending/product-2-1.jpg" class="first" alt="">
                        <img src="~/images/trending/product-2-2.jpg" class="second" alt="">
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Hodo Foods</a>
                            <a href="~/#  " class="name">All Natural Italian-Style Chicken Meatballs</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">Stouffer</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">52.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="3" class="box">
                    <span class="spn new">New</span>
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <img src="~/images/trending/product-3-1.jpg" class="first" alt="">
                        <img src="~/images/trending/product-3-2.jpg" class="second" alt="">
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Snack</a>
                            <a href="~/#" class="name">Angie’s Boomchickapop Sweet & Salty</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">StarKist</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">48.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="4" class="box">
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <img src="~/images/trending/product-4-1.jpg" class="first" alt="">
                        <img src="~/images/trending/product-4-2.jpg" class="second" alt="">
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Vegetables</a>
                            <a href="~/#" class="name">Foster Farms Takeout Crispy Classic</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">17.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="5" class="box">
                    <span class="spn best">-14 %</span>
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <img src="~/images/trending/product-5-1.jpg" class="first" alt="">
                        <img src="~/images/trending/product-5-2.jpg" class="second" alt="">
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Pet Foods</a>
                            <a href="~/#" class="name">Blue Diamond Almonds Lightly Naturel</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">23.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="6" class="box">
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <img src="~/images/trending/product-6-1.jpg" class="first" alt="">
                        <img src="~/images/trending/product-6-2.jpg" class="second" alt="">
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Hodo Foods</a>
                            <a href="~/#" class="name">Chobani Complete Vanilla Greek Bottle</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">54.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="7" class="box">
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <img src="~/images/trending/product-7-1.jpg" class="first" alt="">
                        <img src="~/images/trending/product-7-2.jpg" class="second" alt="">
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Meats</a>
                            <a href="~/#" class="name">Canada Dry Ginger Ale – 2 L Bottle</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">32.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="8" class="box">
                    <span class="spn sale">Sale</span>
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <img src="~/images/trending/product-8-1.jpg" class="first" alt="">
                        <img src="~/images/trending/product-8-2.jpg" class="second" alt="">
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Snack</a>
                            <a href="~/#" class="name">Encore Seafoods Stuffed Alaskan</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">35.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="9" class="box">
                    <span class="spn hot">Hot</span>
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <img src="~/images/trending/product-9-1.jpg" class="first" alt="">
                        <img src="~/images/trending/product-9-2.jpg" class="second" alt="">
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Coffes</a>
                            <a href="~/#" class="name">Gorton’s Beer Battered Fish Fillets</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">23.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="10" class="box">
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <img src="~/images/trending/product-10-1.jpg" class="first" alt="">
                        <img src="~/images/trending/product-10-2.jpg" class="second" alt="">
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Cream</a>
                            <a href="~/#" class="name">Haagen-Dazs Caramel Cone Ice Cream</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">22.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ---------- -->
            <div class="col-lg-1-5 trend-box">
                <div data-id="1" class="box">
                    <span class="spn hot">Hot</span>
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <img src="~/images/trending/product-1-1.jpg" class="first" alt="">
                        <img src="~/images/trending/product-1-2.jpg" class="second" alt="">
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Snack</a>
                            <a href="~/#" class="name">Seeds of Change Organic Quinoe Naturel</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">28.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="2" class="box">
                    <span class="spn sale">Sale</span>
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <img src="~/images/trending/product-2-1.jpg" class="first" alt="">
                        <img src="~/images/trending/product-2-2.jpg" class="second" alt="">
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Hodo Foods</a>
                            <a href="~/#" class="name">All Natural Italian-Style Chicken Meatballs</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">Stouffer</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">52.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="3" class="box">
                    <span class="spn new">New</span>
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <img src="~/images/trending/product-3-1.jpg" class="first" alt="">
                        <img src="~/images/trending/product-3-2.jpg" class="second" alt="">
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Snack</a>
                            <a href="~/#" class="name">Angie’s Boomchickapop Sweet & Salty</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">StarKist</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">48.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="4" class="box">
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <img src="~/images/trending/product-4-1.jpg" class="first" alt="">
                        <img src="~/images/trending/product-4-2.jpg" class="second" alt="">
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Vegetables</a>
                            <a href="~/#" class="name">Foster Farms Takeout Crispy Classic</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">17.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="5" class="box">
                    <span class="spn best">-14 %</span>
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <img src="~/images/trending/product-5-1.jpg" class="first" alt="">
                        <img src="~/images/trending/product-5-2.jpg" class="second" alt="">
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Pet Foods</a>
                            <a href="~/#" class="name">Blue Diamond Almonds Lightly Naturel</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">23.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="6" class="box">
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <img src="~/images/trending/product-6-1.jpg" class="first" alt="">
                        <img src="~/images/trending/product-6-2.jpg" class="second" alt="">
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Hodo Foods</a>
                            <a href="~/#" class="name">Chobani Complete Vanilla Greek Bottle</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">54.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="7" class="box">
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <img src="~/images/trending/product-7-1.jpg" class="first" alt="">
                        <img src="~/images/trending/product-7-2.jpg" class="second" alt="">
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Meats</a>
                            <a href="~/#" class="name">Canada Dry Ginger Ale – 2 L Bottle</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">32.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="8" class="box">
                    <span class="spn sale">Sale</span>
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <img src="~/images/trending/product-8-1.jpg" class="first" alt="">
                        <img src="~/images/trending/product-8-2.jpg" class="second" alt="">
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Snack</a>
                            <a href="~/#" class="name">Encore Seafoods Stuffed Alaskan</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">35.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="9" class="box">
                    <span class="spn hot">Hot</span>
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <img src="~/images/trending/product-9-1.jpg" class="first" alt="">
                        <img src="~/images/trending/product-9-2.jpg" class="second" alt="">
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Coffes</a>
                            <a href="~/#" class="name">Gorton’s Beer Battered Fish Fillets</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">23.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="10" class="box">
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <img src="~/images/trending/product-10-1.jpg" class="first" alt="">
                        <img src="~/images/trending/product-10-2.jpg" class="second" alt="">
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Cream</a>
                            <a href="~/#" class="name">Haagen-Dazs Caramel Cone Ice Cream</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">22.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="pagination">
    <div class="container-fluid">
        <div class="row pages">
            <div class="page">
                <a href="~/#"><i class="fa-solid fa-arrow-left"></i></a>
                <a href="~/#">1</a>
                <a href="~/#" class="active-page">2</a>
                <a href="~/#">3</a>
                <a href="~/#">...</a>
                <a href="~/#">6</a>
                <a href="~/#"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
<section id="deals">
    <div class="header-text">
        <h2>Deals of the day</h2>
    </div>
    <div class="container-fluid">
        <div class="row deals">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 deal-item" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1500">
                <div class="box">
                    <div class="top">
                        <img src="~/images/deals/image-1.png" alt="">
                    </div>
                    <div class="bottom">
                        <div class="time" data-countdown="2025/03/25 00:00:00">
                            <div class="day">
                                <span>00</span> <br>
                                Days
                            </div>
                            <div class="hour">
                                <span>00</span> <br>
                                Hours
                            </div>
                            <div class="minute">
                                <span>00</span> <br>
                                Mins
                            </div>
                            <div class="second">
                                <span>00</span> <br>
                                Sec
                            </div>
                        </div>
                        <div class="text">
                            <div class="btop">
                                <a href="~/#" class="name">Seeds of Change Organic Quinoa, Brown, & Red Rice</a>
                                <div class="icons">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <span>(4.0)</span>
                                </div>
                                <span class="who">By<a href="~/#">NestFood</a></span>
                            </div>
                            <div class="bbottom">
                                <div class="prices">
                                    <span>$32.85</span>
                                    <del>$33.8</del>
                                </div>
                                <a href="~/card.html">
                                    <i class="fa-solid fa-cart-plus"></i>
                                    <span class="add-prod-basket">Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 deal-item" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1500">
                <div class="box">
                    <div class="top">
                        <img src="~/images/deals/image-2.png" alt="">
                    </div>
                    <div class="bottom">
                        <div class="time" data-countdown="2026/04/25 00:00:00">
                            <div class="day">
                                <span>00</span> <br>
                                Days
                            </div>
                            <div class="hour">
                                <span>00</span> <br>
                                Hours
                            </div>
                            <div class="minute">
                                <span>00</span> <br>
                                Mins
                            </div>
                            <div class="second">
                                <span>00</span> <br>
                                Sec
                            </div>
                        </div>
                        <div class="text">
                            <div class="btop">
                                <a href="~/#" class="name">Perdue Simply Smart Organics Gluten Free</a>
                                <div class="icons">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <span>(4.0)</span>
                                </div>
                                <span class="who">By<a href="~/#">Old El Paso</a></span>
                            </div>
                            <div class="bbottom">
                                <div class="prices">
                                    <span>$24.85</span>
                                    <del>$26.8</del>
                                </div>
                                <a href="~/card.html">
                                    <i class="fa-solid fa-cart-plus"></i>
                                    <span class="add-prod-basket">Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 deal-item" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1500">
                <div class="box">
                    <div class="top">
                        <img src="~/images/deals/image-3.png" alt="">
                    </div>
                    <div class="bottom">
                        <div class="time" data-countdown="2027/03/25 00:00:00">
                            <div class="day">
                                <span>00</span> <br>
                                Days
                            </div>
                            <div class="hour">
                                <span>00</span> <br>
                                Hours
                            </div>
                            <div class="minute">
                                <span>00</span> <br>
                                Mins
                            </div>
                            <div class="second">
                                <span>00</span> <br>
                                Sec
                            </div>
                        </div>
                        <div class="text">
                            <div class="btop">
                                <a href="~/#" class="name">Signature Wood-Fired Mushroom and Caramelized</a>
                                <div class="icons">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <span>(4.0)</span>
                                </div>
                                <span class="who">By<a href="~/#">Progresso</a></span>
                            </div>
                            <div class="bbottom">
                                <div class="prices">
                                    <span>$12.85</span>
                                    <del>$13.8</del>
                                </div>
                                <a href="~/card.html">
                                    <i class="fa-solid fa-cart-plus"></i>
                                    <span class="add-prod-basket">Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 deal-item" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1500">
                <div class="box">
                    <div class="top">
                        <img src="~/images/deals/image-4.png" alt="">
                    </div>
                    <div class="bottom">
                        <div class="time" data-countdown="2025/02/25 00:00:00">
                            <div class="day">
                                <span>00</span> <br>
                                Days
                            </div>
                            <div class="hour">
                                <span>00</span> <br>
                                Hours
                            </div>
                            <div class="minute">
                                <span>00</span> <br>
                                Mins
                            </div>
                            <div class="second">
                                <span>00</span> <br>
                                Sec
                            </div>
                        </div>
                        <div class="text">
                            <div class="btop">
                                <a href="~/#" class="name">Simply Lemonade with Raspberry Juice</a>
                                <div class="icons">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <span>(4.0)</span>
                                </div>
                                <span class="who">By<a href="~/#">Yoplait</a></span>
                            </div>
                            <div class="bbottom">
                                <div class="prices">
                                    <span>$15.85</span>
                                    <del>$16.8</del>
                                </div>
                                <a href="~/card.html">
                                    <i class="fa-solid fa-cart-plus"></i>
                                    <span class="add-prod-basket">Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="need">
    <div class="container-fluid">
        <div class="row need">
            <div class="box">
                <div class="text">
                    <h2 class="mb-20">
                        Stay home &amp; get your daily <br>
                        needs from our shop
                    </h2>
                    <p class="mb-45">Start You'r Daily Shopping with <span class="text-brand">Nest Mart</span></p>
                    <form class="myform" action="">
                        <input type="email" placeholder="Your emaill address">
                        <button class="btn" type="submit">Subscribe</button>
                    </form>
                </div>
                <img src="~/images/shop/banner-9.png" alt="">
            </div>
        </div>
        <div class="row featured">
            <div class="col-lg-1-5">
                <div class="box">
                    <div class="left">
                        <img src="~/images/about/provide/icon-1.svg" alt="">
                    </div>
                    <div class="right">
                        <h5>Best prices & offers</h5>
                        <span>Orders $50 or more</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5">
                <div class="box">
                    <div class="left">
                        <img src="~/images/about/provide/icon-2.svg" alt="">
                    </div>
                    <div class="right">
                        <h5>Free delivery</h5>
                        <span>24/7 amazing services</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5">
                <div class="box">
                    <div class="left">
                        <img src="~/images/about/provide/icon-3.svg" alt="">
                    </div>
                    <div class="right">
                        <h5>Great daily deal</h5>
                        <span>When you sign up</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5">
                <div class="box">
                    <div class="left">
                        <img src="~/images/about/provide/icon-4.svg" alt="">
                    </div>
                    <div class="right">
                        <h5>Wide assortment</h5>
                        <span>Mega Discounts</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5">
                <div class="box">
                    <div class="left">
                        <img src="~/images/about/provide/icon-5.svg" alt="">
                    </div>
                    <div class="right">
                        <h5>Easy returns</h5>
                        <span>Within 30 days</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 last-featured">
                <div class="box">
                    <div class="left">
                        <img src="~/images/about/provide/icon-6.svg" alt="">
                    </div>
                    <div class="right">
                        <h5>Safe Delivery</h5>
                        <span>Within 30 days</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>