@model List<Category>
@{
    ViewData["Title"] = "Index";
}

<ul>
    @foreach (Category category in Model)
    {
        <li><a asp-controller="Home" asp-action="Product" asp-route-id="@category.Id">@category.Name</a></li>
    }
</ul>


@*<select>
    @foreach (Category category in Model)
    {
        <option value="@category.Id">@category.Name</option>
    }
</select>*@