<section id="help">
    <div class="about-container">
        <div class="row help">
            <div class="col-lg-12">
                <h3>How can help you ?</h3>
            </div>
            <div class="col-lg-4 box">
                <h1>Let us know how we can help you</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                    <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                </p>
            </div>
            <div class="row col-lg-8 align-items-end">
                <div class="col-lg-6 box">
                    <h5>01. Visit Feedback</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                </div>
                <div class="col-lg-6 box">
                    <h5>02. Employer Services</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                </div>
                <div class="col-lg-6 box">
                    <h5 style="color: #3BB77E;">03. Billing Inquiries</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                </div>
                <div class="col-lg-6 box">
                    <h5>04.General Inquiries</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="map">
    <div class="container-fluid">
        <div class="row map">
            <iframe src="~/https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12743740.894276794!2d26.173529276585345!3d38.75762860648562!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b0155c964f2671%3A0x40d9dbd42a625f2a!2sTurkey!5e0!3m2!1sen!2s!4v1646585691687!5m2!1sen!2s" width="600" height="350" style="border:0; padding: 0px;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>
<section id="view-map">
    <div class="about-container">
        <div class="row view-map">
            <div class="col-lg-4 col-sm-4">
                <div class="box">
                    <h4>Office</h4>
                    <p>
                        205 North Michigan Avenue, Suite 810 <br>
                        Chicago, 60601, USA <br>
                        Phone: (123) 456-7890 <br>
                        Email: contact@Evara.com
                    </p>
                    <a href="~/#">
                        <i class="fa-solid fa-location-dot"></i> View map
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="box">
                    <h4>Studio</h4>
                    <p>
                        205 North Michigan Avenue, Suite 810 <br>
                        Chicago, 60601, USA <br>
                        Phone: (123) 456-7890 <br>
                        Email: contact@Evara.com
                    </p>
                    <a href="~/#">
                        <i class="fa-solid fa-location-dot"></i> View map
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="box">
                    <h4>Shop</h4>
                    <p>
                        205 North Michigan Avenue, Suite 810 <br>
                        Chicago, 60601, USA <br>
                        Phone: (123) 456-7890 <br>
                        Email: contact@Evara.com
                    </p>
                    <a href="~/#">
                        <i class="fa-solid fa-location-dot"></i> View map
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="my-form">
    <div class="about-container">
        <div class="row my-form">
            <div class="col-lg-8">
                <div class="box">
                    <h5>Contact form</h5>
                    <h1>Drop Us a Line</h1>
                    <p>Your email address will not be published. Required fields are marked *</p>
                    <form action="" class="form">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="inp">
                                    <input type="text" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="inp">
                                    <input type="text" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="inp">
                                    <input type="text" placeholder="Your Phone">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="inp">
                                    <input type="text" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="textarea">
                                    <textarea name="" id="" cols="30" rows="10"></textarea>
                                </div>
                                <button class="btn">Send message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="image">
                    <img src="~/images/contact/contact-2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="need">
    <div class="container-fluid">
        <div class="row need">
            <div class="box">
                <div class="text">
                    <h2 class="mb-20">
                        Stay home &amp; get your daily <br>
                        needs from our shop
                    </h2>
                    <p class="mb-45">Start You'r Daily Shopping with <span class="text-brand">Nest Mart</span></p>
                    <form class="myform" action="">
                        <input type="email" placeholder="Your emaill address">
                        <button class="btn" type="submit">Subscribe</button>
                    </form>
                </div>
                <img src="~/images/about/banner-13.png" alt="">
            </div>
        </div>
        <div class="row featured">
            <div class="col-lg-1-5">
                <div class="box">
                    <div class="left">
                        <img src="~/images/about/provide/icon-1.svg" alt="">
                    </div>
                    <div class="right">
                        <h5>Best prices & offers</h5>
                        <span>Orders $50 or more</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5">
                <div class="box">
                    <div class="left">
                        <img src="~/images/about/provide/icon-2.svg" alt="">
                    </div>
                    <div class="right">
                        <h5>Free delivery</h5>
                        <span>24/7 amazing services</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5">
                <div class="box">
                    <div class="left">
                        <img src="~/images/about/provide/icon-3.svg" alt="">
                    </div>
                    <div class="right">
                        <h5>Great daily deal</h5>
                        <span>When you sign up</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5">
                <div class="box">
                    <div class="left">
                        <img src="~/images/about/provide/icon-4.svg" alt="">
                    </div>
                    <div class="right">
                        <h5>Wide assortment</h5>
                        <span>Mega Discounts</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5">
                <div class="box">
                    <div class="left">
                        <img src="~/images/about/provide/icon-5.svg" alt="">
                    </div>
                    <div class="right">
                        <h5>Easy returns</h5>
                        <span>Within 30 days</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 last-featured">
                <div class="box">
                    <div class="left">
                        <img src="~/images/about/provide/icon-6.svg" alt="">
                    </div>
                    <div class="right">
                        <h5>Safe Delivery</h5>
                        <span>Within 30 days</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>