<section id="about-product">
    <div class="container-fluid-prod">
        <div class="row products">
            <div class="col-xl-9 col-lg-12 main-box">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 left">
                        <div class="big-image-slider">
                        </div>
                        <div class="small-image-slider">
                            <div class="image-s">
                                <img src="~/images/trending/product-6-1.jpg" alt="">
                            </div>
                            <div class="image-s">
                                <img src="~/images/trending/product-7-1.jpg" alt="">
                            </div>
                            <div class="image-s">
                                <img src="~/images/trending/product-8-1.jpg" alt="">
                            </div>
                            <div class="image-s">
                                <img src="~/images/trending/product-9-1.jpg" alt="">
                            </div>
                            <div class="image-s">
                                <img src="~/images/trending/product-10-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 right">
                        <span class="sale-off">Sale Off</span>
                        <h1 class="name">Seeds of Change Organic Quinoa, Brown</h1>
                        <div class="icons">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <span>(4.0)</span>
                        </div>
                        <div class="prices">
                            <h1>$ <span class="getPrice">38</span> </h1>
                            <p><span>26% Off</span>$52</p>
                        </div>
                        <p class="text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam rem
                            officia, corrupti reiciendis minima nisi modi, quasi, odio minus dolore impedit fuga eum
                            eligendi.
                        </p>
                        <div class="weight">
                            <span>Size / Weight:</span>
                            <a href="~/#" class="weight-item">50g</a>
                            <a href="~/#" class="weight-item active-weight">60g</a>
                            <a href="~/#" class="weight-item">80g</a>
                            <a href="~/#" class="weight-item">100g</a>
                            <a href="~/#" class="weight-item">150g</a>
                        </div>
                        <div class="add-card">
                            <div class="inp-num">
                                <a href="~/#" class="up"><i class="fa-solid fa-angle-up "></i></a>
                                <span class="inp-value">1</span>
                                <a href="~/#" class="down"><i class="fa-solid fa-angle-down"></i></a>
                            </div>
                            <a href="~/card.html" class="addCartFProd">
                                <i class="fa-solid fa-cart-plus"></i>
                                Add to cart
                            </a>
                            <a href="~/" class="link heart"><i class="fa-solid fa-heart"></i></a>
                            <a href="~/" class="link shuffle"><i class="fa-solid fa-shuffle"></i></a>
                        </div>
                        <div class="about-prod">
                            <div class="ap aleft">
                                <p>Type: <span>Organic</span></p>
                                <p>MFG:<span>Jun 4.2021</span></p>
                                <p>LIFE:<span>70 days</span></p>
                            </div>
                            <div class="ap aright">
                                <p>SKU: <a href="~/"> FWM15VKT</a></p>
                                <p>Tags: <a href="~/"> Snack,</a> <a href="~/">Organic,</a> <a href="~/">Brown</a> </p>
                                <p>Stock:<span>8 Items In Stock </span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <ul class="description-list">
                        <li>
                            <a href="~/#" class="active-des" data-text="1">Description</a>
                        </li>
                        <li>
                            <a href="~/#" data-text="2">Additional info</a>
                        </li>
                        <li>
                            <a href="~/#" data-text="3">Vendor</a>
                        </li>
                        <li>
                            <a href="~/#" data-text="4">Reviews (3)</a>
                        </li>
                    </ul>
                    <ul class="description-texts">
                        <li class="description-text text1 activet" data-text="1">
                            <p>
                                <span>
                                    Uninhibited carnally hired played in whimpered dear gorilla koala depending and
                                    much yikes off far quetzal goodness and from for grimaced goodness unaccountably
                                    and meadowlark near unblushingly crucial scallop tightly neurotic hungrily some
                                    and dear furiously this apart.
                                </span>
                                <br>
                                <span>
                                    Spluttered narrowly yikes left moth in yikes bowed this that grizzly much
                                    hello on spoon-fed that alas rethought much decently richly and wow against the
                                    frequent fluidly at formidable acceptably flapped besides and much circa far
                                    over the bucolically hey precarious goldfinch mastodon goodness gnashed a
                                    jellyfish and one however because.
                                </span>
                            </p>
                            <ul class="product-more-info">
                                <li><span>Type Of Packing</span> Bottle</li>
                                <li><span>Color</span> Green, Pink, Powder Blue, Purple</li>
                                <li><span>Quantity Per Case</span> 100ml</li>
                                <li><span>Ethyl Alcohol</span> 70%</li>
                                <li><span>Piece In One</span> Carton</li>
                            </ul>
                            <hr>
                            <p>
                                Laconic overheard dear woodchuck wow this outrageously taut beaver hey hello far
                                meadowlark imitatively egregiously hugged that yikes minimally unanimous pouted
                                flirtatiously as beaver beheld above forward energetic across this jeepers
                                beneficently cockily less a the raucously that magic upheld far so the this where
                                crud then below after jeez enchanting drunkenly more much wow callously irrespective
                                limpet.
                            </p>
                            <h4>Packaging &amp; Delivery</h4>
                            <hr>
                            <p>
                                <span>
                                    Less lion goodness that euphemistically robin expeditiously bluebird smugly
                                    scratched far while thus cackled sheepishly rigid after due one assenting
                                    regarding censorious while occasional or this more crane went more as this less
                                    much amid overhung anathematic because much held one exuberantly sheep goodness
                                    so where rat wry well concomitantly.
                                </span>
                                <br>
                                <span>
                                    Scallop or far crud plain remarkably far by thus far iguana lewd precociously
                                    and and less rattlesnake contrary caustic wow this near alas and next and pled
                                    the yikes articulate about as less cackled dalmatian in much less well jeering
                                    for the thanks blindly sentimental whimpered less across objectively fanciful
                                    grimaced wildly some wow and rose jeepers outgrew lugubrious luridly
                                    irrationally attractively dachshund.
                                </span>
                            </p>
                            <h4>Suggested Use</h4>
                            <p>
                                <span>Refrigeration not necessary.</span><br>
                                <span>Stir before serving</span>
                            </p>
                            <h4>Other Ingredients</h4>
                            <p>
                                <span>Organic raw pecans, organic raw cashews.</span><br>
                                <span>
                                    This butter was produced using a LTG (Low Temperature Grinding)
                                    process
                                </span><br>
                                <span>
                                    Made in machinery that processes tree nuts but does not process peanuts,
                                    gluten, dairy or soy
                                </span>
                            </p>
                            <h4>Warnings</h4>
                            <p>Oil separation occurs naturally. May contain pieces of shell.</p>
                        </li>
                        <li class="description-text text2" data-text="2">
                            <ul class="list-left">
                                <li>Stand Up</li>
                                <li>Folded (w/o wheels)</li>
                                <li>Folded (w/ wheels)</li>
                                <li>Door Pass Through</li>
                                <li>Frame</li>
                                <li>Weight (w/o wheels)</li>
                                <li>Weight Capacity</li>
                                <li>Width</li>
                                <li>Handle height (ground to handle)</li>
                                <li>Wheels</li>
                                <li>Seat back height</li>
                                <li>Head room (inside canopy)</li>
                                <li>Color</li>
                                <li>Size</li>
                            </ul>
                            <ul class="list-right">
                                <li>35″L x 24″W x 37-45″H(front to back wheel)</li>
                                <li>32.5″L x 18.5″W x 16.5″H</li>
                                <li>32.5″L x 24″W x 18.5″H</li>
                                <li>24</li>
                                <li>Aluminum</li>
                                <li>20 LBS</li>
                                <li>60 LBS</li>
                                <li>24″</li>
                                <li>37-45″</li>
                                <li>12″ air / wide track slick tread</li>
                                <li>21.5″</li>
                                <li>25″</li>
                                <li>Black, Blue, Red, White</li>
                                <li>M, S</li>

                            </ul>
                        </li>
                        <li class="description-text text3s" data-text="3">
                            <div class="text3">
                                <div class="image-text">
                                    <div class="left">
                                        <img src="~/images/product/vendor-18.svg" alt="">
                                    </div>
                                    <div class="right">
                                        <a href="~/">Noodles Co.</a>
                                        <div class="icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star-half-stroke"></i>
                                            <span>(32 reviews)</span>
                                        </div>
                                    </div>
                                </div>
                                <p class="adr">
                                    <strong>Address</strong>: 5171 W Campbell Ave undefined Kent, Utah
                                    53127 United States
                                </p>
                                <p class="adr"><strong>Contact Seller</strong>:(+91) - 540-025-553</p>
                                <div class="raiting">
                                    <p><span>Raiting</span><br> 92%</p>
                                    <p><span>Ship on time</span><br> 100%</p>
                                    <p><span>Chat response</span><br> 89%</p>
                                </div>
                                <p class="raiting-text">
                                    Noodles & Company is an American fast-casual restaurant that
                                    offers international and American noodle dishes and pasta in addition to soups
                                    and salads. Noodles & Company was founded in 1995 by Aaron Kennedy and is
                                    headquartered in Broomfield, Colorado. The company went public in 2013 and
                                    recorded a $457 million revenue in 2017.In late 2018, there were 460 Noodles &
                                    Company locations across 29 states and Washington, D.C.
                                </p>
                            </div>
                        </li>
                        <li class="description-text text4" data-text="4">
                            <div class="row">
                                <div class="col-lg-8">
                                    <h4>Customer questions & answers</h4>
                                    <div class="boxes">
                                        <div class="box">
                                            <div class="left">
                                                <img src="~/images/product/author-2.png" alt="">
                                                <a href="~/" class="name">Sienna</a>
                                            </div>
                                            <div class="right">
                                                <div class="up-text">
                                                    <span>December 4, 2021 at 3:12 pm</span>
                                                    <div class="icons">
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="down-text">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                        Delectus, suscipit exercitationem accusantium obcaecati quos
                                                        voluptate nesciunt facilis itaque modi commodi dignissimos
                                                        sequi repudiandae minus ab deleniti totam officia id
                                                        incidunt? <a href="~/" class="reply">Reply</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box">
                                            <div class="left">
                                                <img src="~/images/product/author-3.png" alt="">
                                                <a href="~/" class="name">Brenna</a>
                                            </div>
                                            <div class="right">
                                                <div class="up-text">
                                                    <span>December 4, 2021 at 3:12 pm</span>
                                                    <div class="icons">
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="down-text">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                        Delectus, suscipit exercitationem accusantium obcaecati quos
                                                        voluptate nesciunt facilis itaque modi commodi dignissimos
                                                        sequi repudiandae minus ab deleniti totam officia id
                                                        incidunt? <a href="~/" class="reply">Reply</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box">
                                            <div class="left">
                                                <img src="~/images/product/author-4.png" alt="">
                                                <a href="~/" class="name">Gemma</a>
                                            </div>
                                            <div class="right">
                                                <div class="up-text">
                                                    <span>December 4, 2021 at 3:12 pm</span>
                                                    <div class="icons">
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="down-text">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                        Delectus, suscipit exercitationem accusantium obcaecati quos
                                                        voluptate nesciunt facilis itaque modi commodi dignissimos
                                                        sequi repudiandae minus ab deleniti totam officia id
                                                        incidunt? <a href="~/" class="reply">Reply</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 progres">
                                    <h4>Customer reviews</h4>
                                    <div class="d-flex mb-30">
                                        <div class="icons">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <h6>4.8 out of 5</h6>
                                    </div>
                                    <div class="progress">
                                        <span>5 star</span>
                                        <div class="progress-bar" role="progressbar" style="width: 50%"
                                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                    </div>
                                    <div class="progress">
                                        <span>4 star</span>
                                        <div class="progress-bar" role="progressbar" style="width: 25%"
                                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                    </div>
                                    <div class="progress">
                                        <span>3 star</span>
                                        <div class="progress-bar" role="progressbar" style="width: 45%"
                                             aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                                    </div>
                                    <div class="progress">
                                        <span>2 star</span>
                                        <div class="progress-bar" role="progressbar" style="width: 65%"
                                             aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                                    </div>
                                    <div class="progress mb-30">
                                        <span>1 star</span>
                                        <div class="progress-bar" role="progressbar" style="width: 85%"
                                             aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                    </div>
                                    <a href="~/#" class="rating-calc">How are ratings calculated?</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <h4>Related products</h4>
                <div class="row related">
                    <div class="col-lg-3 col-md-4 col-12 col-sm-6 related-box">
                        <div class="box">
                            <span class="spn hot">Hot</span>
                            <div class="top">
                                <div class="overlay">
                                    <a href="~/#">
                                        <i class="fa-solid fa-heart"></i>
                                    </a>
                                    <a href="~/#">
                                        <i class="fa-solid fa-shuffle"></i>
                                    </a>
                                    <a href="~/#">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </div>
                                <a href="~/product.html" class="GoToProduct">
                                    <img src="~/images/trending/product-1-1.jpg" class="first" alt="">
                                    <img src="~/images/trending/product-1-2.jpg" class="second" alt="">
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="btop">
                                    <a href="~/#" class="cat">Snack</a>
                                    <a href="~/#" class="name">Seeds of Change Organic Quinoe Naturel</a>
                                    <div class="icons">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star-half-stroke"></i>
                                        <span>(4.0)</span>
                                    </div>
                                </div>
                                <div class="bbottom">
                                    <div class="prices">
                                        <span>$28.85</span>
                                        <del>$32.8</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12 col-sm-6 related-box">
                        <div class="box">
                            <span class="spn sale">Sale</span>
                            <div class="top">
                                <div class="overlay">
                                    <a href="~/#">
                                        <i class="fa-solid fa-heart"></i>
                                    </a>
                                    <a href="~/#">
                                        <i class="fa-solid fa-shuffle"></i>
                                    </a>
                                    <a href="~/#">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </div>
                                <a href="~/product.html" class="GoToProduct">
                                    <img src="~/images/trending/product-2-1.jpg" class="first" alt="">
                                    <img src="~/images/trending/product-2-2.jpg" class="second" alt="">
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="btop">
                                    <a href="~/#" class="cat">Snack</a>
                                    <a href="~/#" class="name">Seeds of Change Organic Quinoe Naturel</a>
                                    <div class="icons">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star-half-stroke"></i>
                                        <span>(4.0)</span>
                                    </div>
                                </div>
                                <div class="bbottom">
                                    <div class="prices">
                                        <span>$28.85</span>
                                        <del>$32.8</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12 col-sm-6 related-box">
                        <div class="box">
                            <span class="spn new">New</span>
                            <div class="top">
                                <div class="overlay">
                                    <a href="~/#">
                                        <i class="fa-solid fa-heart"></i>
                                    </a>
                                    <a href="~/#">
                                        <i class="fa-solid fa-shuffle"></i>
                                    </a>
                                    <a href="~/#">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </div>
                                <a href="~/product.html" class="GoToProduct">
                                    <img src="~/images/trending/product-3-1.jpg" class="first" alt="">
                                    <img src="~/images/trending/product-3-2.jpg" class="second" alt="">
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="btop">
                                    <a href="~/#" class="cat">Snack</a>
                                    <a href="~/#" class="name">Seeds of Change Organic Quinoe Naturel</a>
                                    <div class="icons">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star-half-stroke"></i>
                                        <span>(4.0)</span>
                                    </div>
                                </div>
                                <div class="bbottom">
                                    <div class="prices">
                                        <span>$28.85</span>
                                        <del>$32.8</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12 col-sm-6 related-box last-related-box">
                        <div class="box">
                            <span class="spn hot">Hot</span>
                            <div class="top">
                                <div class="overlay">
                                    <a href="~/#">
                                        <i class="fa-solid fa-heart"></i>
                                    </a>
                                    <a href="~/#">
                                        <i class="fa-solid fa-shuffle"></i>
                                    </a>
                                    <a href="~/#">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </div>
                                <a href="~/product.html" class="GoToProduct">
                                    <img src="~/images/trending/product-4-1.jpg" class="first" alt="">
                                    <img src="~/images/trending/product-4-2.jpg" class="second" alt="">
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="btop">
                                    <a href="~/#" class="cat">Snack</a>
                                    <a href="~/#" class="name">Seeds of Change Organic Quinoe Naturel</a>
                                    <div class="icons">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star-half-stroke"></i>
                                        <span>(4.0)</span>
                                    </div>
                                </div>
                                <div class="bbottom">
                                    <div class="prices">
                                        <span>$28.85</span>
                                        <del>$32.8</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-12 other-boxes">
                <div class="sidebar-right">
                    <ul class="category">
                        <h4>Category</h4>
                        <li>
                            <a href="~/#">
                                <img src="~/images/product/category-1.svg" alt="">Milks &amp;
                                Dairies
                            </a><span class="count">15</span>
                        </li>
                        <li>
                            <a href="~/#"> <img src="~/images/product/category-2.svg" alt="">Clothing</a><span class="count">4</span>
                        </li>
                        <li>
                            <a href="~/#"> <img src="~/images/product/category-3.svg" alt="">Pet Foods </a><span class="count">6</span>
                        </li>
                        <li>
                            <a href="~/#"> <img src="~/images/product/category-4.svg" alt="">Baking material</a><span class="count">0</span>
                        </li>
                        <li>
                            <a href="~/#"> <img src="~/images/product/category-5.svg" alt="">Fresh Fruit</a><span class="count">0</span>
                        </li>
                    </ul>
                    <div class="fill-price">
                        <h4>Fill by price</h4>
                        <div class="wrapper">
                            <fieldset class="filter-price">
                                <div class="price-field">
                                    <input type="range" min="160" max="2000" value="1000" id="lower"
                                           class="fill-inp range1">
                                    <input type="range" min="160" max="2000" value="1500" id="upper"
                                           class="fill-inp range1">
                                </div>
                                <div class="price-wrap">
                                    <div class="inp-val in1">
                                        <span class="price-title value-text">From</span>
                                        <div class="price-wrap-1">
                                            <label for="one">$</label>
                                            <input id="one">
                                        </div>
                                    </div>
                                    <div class="inp-val in2">
                                        <div class="price-wrap_line value-text">To</div>
                                        <div class="price-wrap-2">
                                            <label for="two">$</label>
                                            <input id="two">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="custom-checkbox">
                            <p class="color">Color</p>
                            <div class="inputs">
                                <input type="checkbox" name="" id="" class="check"><span>Red (56)</span><br>
                                <input type="checkbox" name="" id="" class="check"><span>Green (78)</span><br>
                                <input type="checkbox" name="" id="" class="check"><span>Blue (54)</span>
                            </div>
                        </div>
                        <div class="custom-checkbox">
                            <p class="color">Color</p>
                            <div class="inputs">
                                <input type="checkbox" name="" id="" class="check"><span>New (1506)</span><br>
                                <input type="checkbox" name="" id="" class="check"><span>Refurbished (27)</span><br>
                                <input type="checkbox" name="" id="" class="check"><span>Used (45)</span>
                            </div>
                        </div>
                        <a href="~/#" class="filterr-btn"><i class="fa-solid fa-filter"></i>Filter</a>
                    </div>
                    <div class="new-prod">
                        <h4>New products</h4>
                        <div class="row productss">
                            <div class="box">
                                <a href="~/#" class="left">
                                    <img src="~/images/products/thumbnail-1.jpg" alt="">
                                </a>
                                <div class="right">
                                    <a href="~/" class="name">Chen Cardigan</a>
                                    <div class="prices">
                                        <span>$32.85</span>
                                    </div>
                                    <div class="icons">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star-half-stroke"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <a href="~/#" class="left">
                                    <img src="~/images/products/thumbnail-4.jpg" alt="">
                                </a>
                                <div class="right">
                                    <a href="~/#" class="name">Chen Sweater</a>
                                    <div class="prices">
                                        <span>$32.85</span>
                                    </div>
                                    <div class="icons">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star-half-stroke"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <a href="~/" class="left">
                                    <img src="~/images/products/thumbnail-7.jpg" alt="">
                                </a>
                                <div class="right">
                                    <a href="~/" class="name">Colorful Jacket</a>
                                    <div class="prices">
                                        <span>$32.85</span>
                                    </div>
                                    <div class="icons">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star-half-stroke"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image">
                        <h4>
                            <span class="org">Organic</span><br>
                            Save 17% <br>
                            on <span class="text-brand">Oganic</span><br>
                            Juice
                        </h4>
                        <img src="~/images/product/banner-11.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="need">
    <div class="container-fluid">
        <div class="row need">
            <div class="box">
                <div class="text">
                    <h2 class="mb-20">
                        Stay home &amp; get your daily <br>
                        needs from our shop
                    </h2>
                    <p class="mb-45">Start You'r Daily Shopping with <span class="text-brand">Nest Mart</span></p>
                    <form class="myform" action="">
                        <input type="email" placeholder="Your emaill address">
                        <button class="btn" type="submit">Subscribe</button>
                    </form>
                </div>
                <img src="~/images/shop/banner-9.png" alt="">
            </div>
        </div>
        <div class="row featured">
            <div class="col-lg-1-5">
                <div class="box">
                    <div class="left">
                        <img src="~/images/about/provide/icon-1.svg" alt="">
                    </div>
                    <div class="right">
                        <h5>Best prices & offers</h5>
                        <span>Orders $50 or more</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5">
                <div class="box">
                    <div class="left">
                        <img src="~/images/about/provide/icon-2.svg" alt="">
                    </div>
                    <div class="right">
                        <h5>Free delivery</h5>
                        <span>24/7 amazing services</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5">
                <div class="box">
                    <div class="left">
                        <img src="~/images/about/provide/icon-3.svg" alt="">
                    </div>
                    <div class="right">
                        <h5>Great daily deal</h5>
                        <span>When you sign up</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5">
                <div class="box">
                    <div class="left">
                        <img src="~/images/about/provide/icon-4.svg" alt="">
                    </div>
                    <div class="right">
                        <h5>Wide assortment</h5>
                        <span>Mega Discounts</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5">
                <div class="box">
                    <div class="left">
                        <img src="~/images/about/provide/icon-5.svg" alt="">
                    </div>
                    <div class="right">
                        <h5>Easy returns</h5>
                        <span>Within 30 days</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 last-featured">
                <div class="box">
                    <div class="left">
                        <img src="~/images/about/provide/icon-6.svg" alt="">
                    </div>
                    <div class="right">
                        <h5>Safe Delivery</h5>
                        <span>Within 30 days</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>