<section id="looking">
    <div class="container-fluid">
        <div class="row">
            <div class="text">
                <h2>What are you looking for?</h2>
                <form action="" id="lookform">
                    <img src="~/images/icon-search.png" alt="">
                    <input type="text" placeholder="Your emaill address">
                    <button type="submit">Subscribe</button>
                </form>
                <ul>
                    <li>
                        <a href="~/#">Cake</a>
                    </li>
                    <li>
                        <a href="~/#">Coffes</a>
                    </li>
                    <li>
                        <a href="~/#">Pet Foods</a>
                    </li>
                    <li>
                        <a href="~/#">Vegetables</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="trending">
    <div class="container-fluid">
        <div class="header-text">
            <h2>Trending items</h2>
        </div>
        <div class="row trending">
            <div class="col-lg-1-5 trend-box">
                <div data-id="1" class="box">
                    <span class="spn hot">Hot</span>
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <a asp-controller="Product" class="GoToProduct">
                            <img src="~/images/trending/product-1-1.jpg" class="first" alt="">
                            <img src="~/images/trending/product-1-2.jpg" class="second" alt="">
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Snack</a>
                            <a href="~/#" class="name">Seeds of Change Organic Quinoe Naturel</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">28.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="2" class="box">
                    <span class="spn sale">Sale</span>
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <a href="~/product.html" class="GoToProduct">
                            <img src="~/images/trending/product-2-1.jpg" class="first" alt="">
                            <img src="~/images/trending/product-2-2.jpg" class="second" alt="">
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Hodo Foods</a>
                            <a href="~/#" class="name">All Natural Italian-Style Chicken Meatballs</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">Stouffer</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">52.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="3" class="box">
                    <span class="spn new">New</span>
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <a href="~/product.html" class="GoToProduct">
                            <img src="~/images/trending/product-3-1.jpg" class="first" alt="">
                            <img src="~/images/trending/product-3-2.jpg" class="second" alt="">
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Snack</a>
                            <a href="~/#" class="name">Angie’s Boomchickapop Sweet & Salty</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">StarKist</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">48.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="4" class="box">
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <a href="~/product.html" class="GoToProduct">
                            <img src="~/images/trending/product-4-1.jpg" class="first" alt="">
                            <img src="~/images/trending/product-4-2.jpg" class="second" alt="">
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Vegetables</a>
                            <a href="~/#" class="name">Foster Farms Takeout Crispy Classic</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">17.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="5" class="box">
                    <span class="spn best">-14 %</span>
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <a href="~/product.html" class="GoToProduct">
                            <img src="~/images/trending/product-5-1.jpg" class="first" alt="">
                            <img src="~/images/trending/product-5-2.jpg" class="second" alt="">
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Pet Foods</a>
                            <a href="~/#" class="name">Blue Diamond Almonds Lightly Naturel</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">23.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="6" class="box">
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <a href="~/product.html" class="GoToProduct">
                            <img src="~/images/trending/product-6-1.jpg" class="first" alt="">
                            <img src="~/images/trending/product-6-2.jpg" class="second" alt="">
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Hodo Foods</a>
                            <a href="~/#" class="name">Chobani Complete Vanilla Greek Bottle</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">54.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="7" class="box">
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <a href="~/product.html" class="GoToProduct">
                            <img src="~/images/trending/product-7-1.jpg" class="first" alt="">
                            <img src="~/images/trending/product-7-2.jpg" class="second" alt="">
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Meats</a>
                            <a href="~/#" class="name">Canada Dry Ginger Ale – 2 L Bottle</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">32.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="8" class="box">
                    <span class="spn sale">Sale</span>
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <a href="~/product.html" class="GoToProduct">
                            <img src="~/images/trending/product-8-1.jpg" class="first" alt="">
                            <img src="~/images/trending/product-8-2.jpg" class="second" alt="">
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Snack</a>
                            <a href="~/#" class="name">Encore Seafoods Stuffed Alaskan</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">35.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="9" class="box">
                    <span class="spn hot">Hot</span>
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <a href="~/product.html" class="GoToProduct">
                            <img src="~/images/trending/product-9-1.jpg" class="first" alt="">
                            <img src="~/images/trending/product-9-2.jpg" class="second" alt="">
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Coffes</a>
                            <a href="~/#" class="name">Gorton’s Beer Battered Fish Fillets</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">23.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="10" class="box">
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <a href="~/product.html" class="GoToProduct">
                            <img src="~/images/trending/product-10-1.jpg" class="first" alt="">
                            <img src="~/images/trending/product-10-2.jpg" class="second" alt="">
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Cream</a>
                            <a href="~/#" class="name">Haagen-Dazs Caramel Cone Ice Cream</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">22.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ---------- -->
            <div class="col-lg-1-5 trend-box">
                <div data-id="1" class="box">
                    <span class="spn hot">Hot</span>
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <a href="~/product.html" class="GoToProduct">
                            <img src="~/images/trending/product-1-1.jpg" class="first" alt="">
                            <img src="~/images/trending/product-1-2.jpg" class="second" alt="">
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Snack</a>
                            <a href="~/#" class="name">Seeds of Change Organic Quinoe Naturel</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">28.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="2" class="box">
                    <span class="spn sale">Sale</span>
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <a href="~/product.html" class="GoToProduct">
                            <img src="~/images/trending/product-2-1.jpg" class="first" alt="">
                            <img src="~/images/trending/product-2-2.jpg" class="second" alt="">
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Hodo Foods</a>
                            <a href="~/#" class="name">All Natural Italian-Style Chicken Meatballs</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">Stouffer</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">52.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="3" class="box">
                    <span class="spn new">New</span>
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <a href="~/product.html" class="GoToProduct">
                            <img src="~/images/trending/product-3-1.jpg" class="first" alt="">
                            <img src="~/images/trending/product-3-2.jpg" class="second" alt="">
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Snack</a>
                            <a href="~/#" class="name">Angie’s Boomchickapop Sweet & Salty</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">StarKist</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">48.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="4" class="box">
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <a href="~/product.html" class="GoToProduct">
                            <img src="~/images/trending/product-4-1.jpg" class="first" alt="">
                            <img src="~/images/trending/product-4-2.jpg" class="second" alt="">
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Vegetables</a>
                            <a href="~/#" class="name">Foster Farms Takeout Crispy Classic</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">17.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="5" class="box">
                    <span class="spn best">-14 %</span>
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <a href="~/product.html" class="GoToProduct">
                            <img src="~/images/trending/product-5-1.jpg" class="first" alt="">
                            <img src="~/images/trending/product-5-2.jpg" class="second" alt="">
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Pet Foods</a>
                            <a href="~/#" class="name">Blue Diamond Almonds Lightly Naturel</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">23.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="6" class="box">
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <a href="~/product.html" class="GoToProduct">
                            <img src="~/images/trending/product-6-1.jpg" class="first" alt="">
                            <img src="~/images/trending/product-6-2.jpg" class="second" alt="">
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Hodo Foods</a>
                            <a href="~/#" class="name">Chobani Complete Vanilla Greek Bottle</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">54.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="7" class="box">
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <a href="~/product.html" class="GoToProduct">
                            <img src="~/images/trending/product-7-1.jpg" class="first" alt="">
                            <img src="~/images/trending/product-7-2.jpg" class="second" alt="">
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Meats</a>
                            <a href="~/#" class="name">Canada Dry Ginger Ale – 2 L Bottle</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">32.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="8" class="box">
                    <span class="spn sale">Sale</span>
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <a href="~/product.html" class="GoToProduct">
                            <img src="~/images/trending/product-8-1.jpg" class="first" alt="">
                            <img src="~/images/trending/product-8-2.jpg" class="second" alt="">
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Snack</a>
                            <a href="~/#" class="name">Encore Seafoods Stuffed Alaskan</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">35.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="9" class="box">
                    <span class="spn hot">Hot</span>
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <a href="~/product.html" class="GoToProduct">
                            <img src="~/images/trending/product-9-1.jpg" class="first" alt="">
                            <img src="~/images/trending/product-9-2.jpg" class="second" alt="">
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Coffes</a>
                            <a href="~/#" class="name">Gorton’s Beer Battered Fish Fillets</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">23.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1-5 trend-box">
                <div data-id="10" class="box">
                    <div class="top">
                        <div class="overlay">
                            <a href="~/#">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-shuffle"></i>
                            </a>
                            <a href="~/#">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                        <a href="~/product.html" class="GoToProduct">
                            <img src="~/images/trending/product-10-1.jpg" class="first" alt="">
                            <img src="~/images/trending/product-10-2.jpg" class="second" alt="">
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="btop">
                            <a href="~/#" class="cat">Cream</a>
                            <a href="~/#" class="name">Haagen-Dazs Caramel Cone Ice Cream</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <span class="who">By<a href="~/#">NestFood</a></span>
                        </div>
                        <div class="bbottom">
                            <div class="prices">
                                <span>$ <span class="price-value">22.85</span></span>
                                <del>$32.8</del>
                            </div>
                            <a href="~/card.html">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span class="add-prod-basket">Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="deals">
    <div class="header-text">
        <h2>Deals of the day</h2>
    </div>
    <div class="container-fluid">
        <div class="row deals">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 deal-item" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1500">
                <div class="box">
                    <div class="top">
                        <img src="~/images/deals/image-1.png" alt="">
                    </div>
                    <div class="bottom">
                        <div class="time" data-countdown="2025/03/25 00:00:00">
                            <div class="day">
                                <span>00</span> <br>
                                Days
                            </div>
                            <div class="hour">
                                <span>00</span> <br>
                                Hours
                            </div>
                            <div class="minute">
                                <span>00</span> <br>
                                Mins
                            </div>
                            <div class="second">
                                <span>00</span> <br>
                                Sec
                            </div>
                        </div>
                        <div class="text">
                            <div class="btop">
                                <a href="~/#" class="name">Seeds of Change Organic Quinoa, Brown, & Red Rice</a>
                                <div class="icons">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <span>(4.0)</span>
                                </div>
                                <span class="who">By<a href="~/#">NestFood</a></span>
                            </div>
                            <div class="bbottom">
                                <div class="prices">
                                    <span>$32.85</span>
                                    <del>$33.8</del>
                                </div>
                                <a href="~/card.html">
                                    <i class="fa-solid fa-cart-plus"></i>
                                    <span class="add-prod-basket">Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 deal-item" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1500">
                <div class="box">
                    <div class="top">
                        <img src="~/images/deals/image-2.png" alt="">
                    </div>
                    <div class="bottom">
                        <div class="time" data-countdown="2026/04/25 00:00:00">
                            <div class="day">
                                <span>00</span> <br>
                                Days
                            </div>
                            <div class="hour">
                                <span>00</span> <br>
                                Hours
                            </div>
                            <div class="minute">
                                <span>00</span> <br>
                                Mins
                            </div>
                            <div class="second">
                                <span>00</span> <br>
                                Sec
                            </div>
                        </div>
                        <div class="text">
                            <div class="btop">
                                <a href="~/#" class="name">Perdue Simply Smart Organics Gluten Free</a>
                                <div class="icons">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <span>(4.0)</span>
                                </div>
                                <span class="who">By<a href="~/#">Old El Paso</a></span>
                            </div>
                            <div class="bbottom">
                                <div class="prices">
                                    <span>$24.85</span>
                                    <del>$26.8</del>
                                </div>
                                <a href="~/card.html">
                                    <i class="fa-solid fa-cart-plus"></i>
                                    <span class="add-prod-basket">Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 deal-item" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1500">
                <div class="box">
                    <div class="top">
                        <img src="~/images/deals/image-3.png" alt="">
                    </div>
                    <div class="bottom">
                        <div class="time" data-countdown="2027/03/25 00:00:00">
                            <div class="day">
                                <span>00</span> <br>
                                Days
                            </div>
                            <div class="hour">
                                <span>00</span> <br>
                                Hours
                            </div>
                            <div class="minute">
                                <span>00</span> <br>
                                Mins
                            </div>
                            <div class="second">
                                <span>00</span> <br>
                                Sec
                            </div>
                        </div>
                        <div class="text">
                            <div class="btop">
                                <a href="~/#" class="name">Signature Wood-Fired Mushroom and Caramelized</a>
                                <div class="icons">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <span>(4.0)</span>
                                </div>
                                <span class="who">By<a href="~/#">Progresso</a></span>
                            </div>
                            <div class="bbottom">
                                <div class="prices">
                                    <span>$12.85</span>
                                    <del>$13.8</del>
                                </div>
                                <a href="~/card.html">
                                    <i class="fa-solid fa-cart-plus"></i>
                                    <span class="add-prod-basket">Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 deal-item" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1500">
                <div class="box">
                    <div class="top">
                        <img src="~/images/deals/image-4.png" alt="">
                    </div>
                    <div class="bottom">
                        <div class="time" data-countdown="2025/02/25 00:00:00">
                            <div class="day">
                                <span>00</span> <br>
                                Days
                            </div>
                            <div class="hour">
                                <span>00</span> <br>
                                Hours
                            </div>
                            <div class="minute">
                                <span>00</span> <br>
                                Mins
                            </div>
                            <div class="second">
                                <span>00</span> <br>
                                Sec
                            </div>
                        </div>
                        <div class="text">
                            <div class="btop">
                                <a href="~/#" class="name">Simply Lemonade with Raspberry Juice</a>
                                <div class="icons">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <span>(4.0)</span>
                                </div>
                                <span class="who">By<a href="~/#">Yoplait</a></span>
                            </div>
                            <div class="bbottom">
                                <div class="prices">
                                    <span>$15.85</span>
                                    <del>$16.8</del>
                                </div>
                                <a href="~/card.html">
                                    <i class="fa-solid fa-cart-plus"></i>
                                    <span class="add-prod-basket">Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="products">
    <div class="container-fluid">
        <div class="row all">
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 head " data-aos="fade-up" data-aos-delay="100">
                <div data-aos="fade-up" data-aos-delay="100">
                    <h4>Top Selling</h4>
                </div>
                <div class="row products">
                    <div class="box">
                        <a href="~/#" class="left">
                            <img src="~/images/products/thumbnail-1.jpg" alt="">
                        </a>
                        <div class="right">
                            <a href="~/#" class="name">Nestle Original Coffee-Mate Coffee Creamer</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <div class="prices">
                                <span>$32.85</span>
                                <del>$33.8</del>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <a href="~/#" class="left">
                            <img src="~/images/products/thumbnail-4.jpg" alt="">
                        </a>
                        <div class="right">
                            <a href="~/#" class="name">Organic Cage-Free Grade A Large Brown Eggs</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <div class="prices">
                                <span>$32.85</span>
                                <del>$33.8</del>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <a href="~/#" class="left">
                            <img src="~/images/products/thumbnail-7.jpg" alt="">
                        </a>
                        <div class="right">
                            <a href="~/#" class="name">Pepperidge Farm Farmhouse Hearty White Bread</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <div class="prices">
                                <span>$32.85</span>
                                <del>$33.8</del>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 head " data-aos="fade-up" data-aos-delay="200">
                <div>
                    <h4>Trending Products</h4>
                </div>
                <div class="row products">
                    <div class="box">
                        <a href="~/#" class="left">
                            <img src="~/images/products/thumbnail-10.jpg" alt="">
                        </a>
                        <div class="right">
                            <a href="~/#" class="name">Foster Farms Takeout Crispy Classic Buffalo Wings</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <div class="prices">
                                <span>$32.85</span>
                                <del>$33.8</del>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <a href="~/#" class="left">
                            <img src="~/images/products/thumbnail-2.jpg" alt="">
                        </a>
                        <div class="right">
                            <a href="~/#" class="name">Nestle Original Coffee-Mate Coffee Creamer</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <div class="prices">
                                <span>$32.85</span>
                                <del>$33.8</del>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <a href="~/#" class="left">
                            <img src="~/images/products/thumbnail-5.jpg" alt="">
                        </a>
                        <div class="right">
                            <a href="~/#" class="name">Seeds of Change Organic Quinoa, Brown, & Red Rice</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <div class="prices">
                                <span>$32.85</span>
                                <del>$33.8</del>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 head " data-aos="fade-up" data-aos-delay="300">
                <div>
                    <h4>Recently added</h4>
                </div>
                <div class="row products">
                    <div class="box">
                        <a href="~/#" class="left">
                            <img src="~/images/products/thumbnail-8.jpg" alt="">
                        </a>
                        <div class="right">
                            <a href="~/#" class="name">Organic Frozen Triple Berry Blend</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <div class="prices">
                                <span>$32.85</span>
                                <del>$33.8</del>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <a href="~/#" class="left">
                            <img src="~/images/products/thumbnail-11.jpg" alt="">
                        </a>
                        <div class="right">
                            <a href="~/#" class="name">Angie’s Boomchickapop Sweet & Salty Kettle Corn</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <div class="prices">
                                <span>$32.85</span>
                                <del>$33.8</del>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <a href="~/#" class="left">
                            <img src="~/images/products/thumbnail-3.jpg" alt="">
                        </a>
                        <div class="right">
                            <a href="~/#" class="name">Nestle Original Coffee-Mate Coffee Creamer</a>
                            <div class="icons">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.0)</span>
                            </div>
                            <div class="prices">
                                <span>$32.85</span>
                                <del>$33.8</del>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 head " data-aos="fade-up" data-aos-delay="400">
                <div>
                    <h4>Top Rated</h4>
                </div>
                <div class="row products">
                    <div>
                        <div class="box">
                            <a href="~/#" class="left">
                                <img src="~/images/products/thumbnail-6.jpg" alt="">
                            </a>
                            <div class="right">
                                <a href="~/#" class="name">Naturally Flavored Cinnamon Vanilla Light Roast Coffee</a>
                                <div class="icons">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <span>(4.0)</span>
                                </div>
                                <div class="prices">
                                    <span>$32.85</span>
                                    <del>$33.8</del>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="box">
                            <a href="~/#" class="left">
                                <img src="~/images/products/thumbnail-9.jpg" alt="">
                            </a>
                            <div class="right">
                                <a href="~/#" class="name">Oroweat Country Buttermilk Bread</a>
                                <div class="icons">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <span>(4.0)</span>
                                </div>
                                <div class="prices">
                                    <span>$32.85</span>
                                    <del>$33.8</del>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="box">
                            <a href="~/#" class="left">
                                <img src="~/images/products/thumbnail-12.jpg" alt="">
                            </a>
                            <div class="right">
                                <a href="~/#" class="name">All Natural Italian-Style Chicken Meatballs</a>
                                <div class="icons">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <span>(4.0)</span>
                                </div>
                                <div class="prices">
                                    <span>$32.85</span>
                                    <del>$33.8</del>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>